body {
  font-family: maven pro,sans-serif;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*nav-bar*/
.nav-link {
  color: #0eb493 !important;
  margin-right: 1rem;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: .0em !important;
    vertical-align: 0.155em !important;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.dropdown-item:hover {
	background-color: #0eb493;
  color: #fff;
}
.carousel-caption {
    position: absolute;
   margin-left: 1vw;
    top: 40% !important;
    color: #285a99 !important;
}
.display-4 {
	float: left !important;
  color: #fff;
}
.bg-light {
    background-color: /*#d2d7e2*/#fff !important;
}
.ab_Title {
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  padding: 2vw 1vw 1vw;
  background: -webkit-linear-gradient(180deg, #2af598 0%, #009efd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.head-tops {
  padding: 9vw 1vw 2vw;
}
/*services*/
.m1 {
  margin-top: 1.5rem !important;
}
.serviceBox{
    color: #555;
    background: #fff;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    width: 260px;
    padding: 15px 0 40px;
    margin: 0 auto;
    border: 10px solid #D23D8F;
    border-radius: 140px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
}
.serviceBox .service-icon{
    color: #9B0183;
    font-size: 50px;
    margin: 0 0 10px;
}
.serviceBox .service-icon i.fa{ transition: all 0.3s ease 0s; }
.serviceBox:hover .service-icon i.fa{
    text-shadow: 0 0 5px #555;
    transform: rotateY(360deg);
}
.serviceBox .title{
    color: #fff;
    background: linear-gradient(to right,#D23D8F,#9B0183);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 10px;
    margin: 0 -33px 15px;
    border-radius: 25px 0;
    position: relative;
    z-index: 1;
}
.serviceBox .title:before,
.serviceBox .title:after{
    content: "";
    background: #222;
    width: 23px;
    height: 17px;
    border-radius: 15px 0 0 15px;
    position: absolute;
    bottom: -17px;
    left: 0;
}
.serviceBox .title:after{
    background: #D23D8F;
    border-radius: 0 0 0 15px;
    z-index: -1;
}
.serviceBox .description{
    font-size: 15px;
    line-height: 25px;
    margin: 0 23px;
}
.serviceBox.blue{ border-color: #0783CD; }
.serviceBox.blue .service-icon{ color: #1D1D81; }
.serviceBox.blue .title{ background: linear-gradient(to right,#0783CD,#1D1D81); }
.serviceBox.blue .title:after{ background: #0783CD; }
.serviceBox.green{ border-color: #65A723; }
.serviceBox.green .service-icon{ color: #006629; }
.serviceBox.green .title{ background: linear-gradient(to right,#65A723,#006629); }
.serviceBox.green .title:after{ background: #65A723; }
@media only screen and (max-width:990px){
    .serviceBox{ margin: 0 auto 40px; }
}
@media only screen and (max-width:479px){
    .serviceBox{
        width: 100%;
        margin: 0 0 40px;
    }
    .serviceBox .title{ margin: 0 -24px 10px; }
    .serviceBox .title:before,
    .serviceBox .title:after{
        width: 15px;
    }
}

/*indus field*/
.indtop {
  background: #0eb493;
  margin: 5rem 0rem 5rem 0rem;
}
.headingind {
  padding-top: 2rem;
  text-align: center;
  color: #fff;
}

.boxesblog {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.content {
  padding: 1.5rem;
}
.boxesblog {
  height: 100%;
}
.readmore {
  padding: 0.4rem;
}
.readmore a {
  text-decoration: none;
  color: #0eb493;
  padding: 0.4rem;
  border: 2px solid #0eb493;
  border-radius: 10px;
  font-weight: bold;
}
.readmore a:hover {
  border: 0px solid #0eb493;
}
.blogtitle {
  color: #000000;
}
/*footer*/
.fthead {
  font-weight: bold;
}
.footer {
  background-color: #0eb493;
  color: #fff;
  margin-top: 7rem;
}
.ft1 {
 padding: 4rem 0rem 0.5rem 0rem;

}
.readmore1 {
  padding: 0.2rem;
}
.readmore1 a {
  text-decoration: none;
  color: #fff;
  padding: 0.2rem;
  border: 1px solid #fff;
  border-radius: 5px;
  
}
.readmore1 a:hover {
  border: 1px solid #000;
  color: #000;
}
.adddet li {
  display: flex;
  padding: 8px;
}
.adddet li, i {
  padding-right: 1rem;
}
.compname p {
  padding: 1rem 0rem 1rem 0rem;
  color: #fff;  
}
.footercomp {
  background-color: #068d72;
}
.nav-item a:hover {
      border-bottom: 1px solid #0eb493;
      border-bottom-width: 0.1rem;
    }



    /*aboutus page*/
    .abtus {
      margin: 4rem 0rem 3rem 0rem;
    }
    .abouttitle {
      color: #068d72;
      font-weight: bold;
      border-bottom: 1px solid #068d72;
      border-bottom-width: 0.1rem;
      max-width: 27%;
    }
    .topabout {
      margin-top: 4rem;
    }
    .vimi {
      background: -webkit-gradient(linear, left top, left bottom, from(#93b266), color-stop(50%, #2d698b));
      margin-bottom: 3rem;
    }
    .mv {
      padding: 5rem 0rem 5rem 0rem; 
      vertical-align: middle;
      color: #fff;
    }
    .techstack {
      margin-bottom: 4rem;
    }
    .abouttitle1 {
      color: #068d72;
      font-weight: bold;
    }

    .carrers-list {
      margin: 3rem 0rem 3rem 0rem;
    }
    .card-link {
      color: #0eb493;
    }

    h1,h2,h3,h4,h5 {
      color: #0eb493;
    }
    .testinghead {
      margin: 2rem 0rem 3rem 0rem;
    }
    .sttt {
      margin: 3rem 0rem 3rem 0rem;
    }
    .quote {
      background-color: #068d72;
      border-left: 5px solid #000;
    }
    .quote p {
      color: #fff;
      padding: 1rem 1rem 1rem 0.5rem;
      font-style: italic;
      font-family: Poppins;
      font-weight: bold;
          line-height: 26px;
          font-size: 1.2rem;
    }
    .devopsser {
      background-color: #0eb493;
    }
    .boxcon {
      text-align: center;
      padding: 2rem;
      background-color: #fff;
      color: #000;
    }
    .box1 {
      width: 100%px;
      height: 200px;
      

    }